.background {
	-fx-background-color: #ccc7d1;	
}
.barChart {
	-fx-selection-bar: #998fa3;
	-fx-selection-bar-non-focused: #a69daf;
	}
.default-color0.chart-bar { 
	-fx-bar-fill: #82b1cc;
}	
.chart-legend {
	-fx-background-color: white;
	-fx-padding: 6px;
}
.chart-label {
	-fx-font-size: 16px;
}